<div class = "card">
    <button (click)="refresh()" class = 'btn btn-primary col-md-3'>
        <fa-icon [icon]="faRotateRight"></fa-icon>
        Refresh
    </button>
    <div class = "text">
        <h1>Balance Summary</h1>
        <p>Total Gains/Loses: {{(buyingPower + userStocks.totalAssets - 1000000) | currency:'USD' }}</p>
        <p>Total Assest:{{userStocks.totalAssets | currency:'USD'}}</p>
        <p>Buying Power: {{buyingPower | currency:'USD'}}</p>
        <p>Balance: {{buyingPower + userStocks.totalAssets | currency:'USD'}}</p>
    </div>
</div>
