<div class = "card" >
    <div class = "card-body">
        <h1>{{ticker | uppercase}}</h1>
        <div *ngIf = "currentPrice | async as price">
            <p>{{price}}</p>
            <app-buy-sell-form [ticker]="ticker" [currentPrice]="price"></app-buy-sell-form>
        </div>
        <select class="form-select"  [(ngModel)]="timeFrame" (ngModelChange)="generateChart(ticker,timeFrame)">
            <option selected value = "1D">1D</option>
            <option value="5D">5D</option>
            <option value="1M">1M</option>
            <option value="3M">3M</option>
            <option value ="6M">6M</option>
            <option value="1Y">1Y</option>
            <option value= "MAX">MAX</option>
        </select>
        <div class="chart-container">
            <canvas  id="MyChart" >{{ chart }}</canvas>
        </div>
    </div>
</div>
