<div class = "card" >
    <div class = "card-body">
        <h1>{{ticker}}</h1>

        <p>Current Price {{currentPrice}}</p>
        <select class="form-select"  [ngModel]="timeFrame" (ngModelChange)="generateChart($event)">
            <option selected value = "1D">1D</option>
            <option value="5D">5D</option>
            <option value="1M">1M</option>
            <option value="3M">3M</option>
            <option value ="6M">6M</option>
            <option value="1Y">1Y</option>
            <option value= "MAX">MAX</option>
        </select>
        <div class="chart-container">
            <canvas  id="MyChart" >{{ chart }}</canvas>
        </div>

    </div>
    

</div>
